absl-py==1.2.0
ale-py==0.7.5
anyio==3.6.1
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs==21.4.0
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
beautifulsoup4==4.11.1
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.2.0
certifi==2022.6.15
cffi @ file:///C:/ci_310/cffi_1642682485096/work
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==1.6.0
cmake==3.22.5
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
comtypes==1.1.14
conda==4.13.0
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///C:/ci/conda-package-handling_1649106011304/work
cryptography @ file:///C:/ci/cryptography_1639414720302/work
cycler==0.11.0
Cython==0.29.30
exceptiongroup==1.0.0rc9
fastapi==0.81.0
fasteners==0.17.3
flatbuffers==2.0
fonttools==4.34.4
gast==0.4.0
glfw==2.5.3
google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
gTTS==2.2.4
gunicorn==20.1.0
gym==0.21.0
h11==0.13.0
h5py==3.7.0
html5lib==1.1
idna==3.3
imageio==2.19.3
importlib-metadata==4.12.0
importlib-resources==5.8.0
iniconfig==1.1.1
keras==2.9.0
keras-nightly==2.11.0.dev2022081507
Keras-Preprocessing==1.1.2
kiwisolver==1.4.3
libclang==14.0.6
lz4==4.0.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.2
menuinst @ file:///C:/ci/menuinst_1631733438520/work
mock==4.0.3
mujoco==2.2.0
mujoco-py==2.1.2.14
numpy==1.23.2
oauthlib==3.2.0
opencv-python==4.6.0.66
opt-einsum==3.3.0
outcome==1.2.0
packaging==21.3
pandas==1.4.3
pierogi==0.2.0
Pillow @ file:///D:/bld/pillow_1657007292472/work
pluggy==1.0.0
protobuf==3.19.4
psutil==5.9.1
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.9.2
pygame==2.1.0
pyglet==1.2.4
PyOpenGL==3.1.6
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
pypiwin32==223
PySocks @ file:///C:/ci/pysocks_1605307512533/work
pytest==7.1.2
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2022.1
pywin32==302
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016898638/work
selenium==4.5.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
stable-baselines3==1.5.0
starlette==0.19.1
tb-nightly==2.10.0a20220811
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
tf-estimator-nightly==2.11.0.dev2022081508
tomli==2.0.1
torch==1.12.0
torchaudio==0.12.0
torchvision==0.13.0
tqdm @ file:///opt/conda/conda-bld/tqdm_1647339053476/work
trio==0.22.0
trio-websocket==0.9.2
typing_extensions==4.3.0
urllib3==1.26.12
uvicorn==0.18.3
webencodings==0.5.1
Werkzeug==2.2.2
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wincertstore==0.2
wrapt==1.14.1
wsproto==1.2.0
zipp==3.8.1
